<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<!-- Page Content-->
<f:section name="resume">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Experience Section-->
                <section>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                        <!-- Download resume button-->
                        <!-- Note: Set the link href target to a PDF file within your project-->
                        <a class="btn btn-primary px-4 py-3" href="#!">
                            <div class="d-inline-block bi bi-download me-2"></div>
                            Download Resume
                        </a>
                    </div>
                    <f:for each="{experiences}" as="experience">
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-primary fw-bolder mb-2">
                                                {experience.timeFrom}-{experience.timeTo}
                                            </div>
                                            <div class="small fw-bolder">{experience.jobName}</div>
                                            <div class="small text-muted">{experience.company}</div>
                                            <div class="small text-muted">{experience.city}</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div></div>
                                        {experience.jobDescription}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </f:for>


                </section>
                <!-- Education Section-->
                <section>
                    <f:for each="{educations}" as="education">
                        <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                        <!-- Education Card 1-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-secondary fw-bolder mb-2">
                                                {education.timeFrom}-{education.timeTo}
                                            </div>
                                            <div class="mb-2">
                                                <div class="small fw-bolder">{education.jobName}</div>
                                            </div>
                                            <div class="fst-italic">
                                                <div class="small text-muted">{education.company}</div>
                                                <div class="small text-muted">{education.city}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div>{education.jobDescription}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </f:for>

                </section>
                <!-- Divider-->
                <div class="pb-5"></div>
                <!-- Skills Section-->
                <section>
                    <!-- Skillset Card-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <!-- Professional skills list-->
                            <f:render partial="TechnologySection" arguments="{skills: skills}" />
                            <!-- Languages list-->
                            <f:render partial="LanguageSection" arguments="{skills: skills}" />
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</f:section>
<!-- End Page Content-->

</html>